@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FF6546;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
